.dreamy_destinations {
	.container {
		width: 1180px;
		@include small-devices {
			width: 100%;
		}
	}
	a {
		font-size: 14px;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	h1, h2, h3, h4, h5 ,h6 {
		margin: 0;
	}
	p {
		margin: 0;
	}
}