// colors
$color-black: #000;
$color-white: #fff;
$timing        : 265ms;
$iconColor     : #ff003c;
$accent        : #c648c8;
$grape         : #7b00e0;
$orchid        : #ae31d9;
$duration: 0.5s;
$delay: 0.2s;
$color-feldgrau: #435955;