/* line 2, ../sass/base/_global.scss */
.dreamy_destinations a {
  color: #C42431;
  font-size: 14px;
  text-decoration: none;
}
/* line 6, ../sass/base/_global.scss */
.dreamy_destinations a:hover {
  text-decoration: none;
  color: #000;
}
/* line 11, ../sass/base/_global.scss */
.dreamy_destinations .og_banner-section {
  clear: both;
  position: relative;
}
/* line 14, ../sass/base/_global.scss */
.dreamy_destinations .og_banner-section .mo_image-banner {
  margin: 0;
}
/* line 16, ../sass/base/_global.scss */
.dreamy_destinations .og_banner-section .mo_image-banner .at_banner-img {
  width: 100%;
}
/* line 21, ../sass/base/_global.scss */
.dreamy_destinations .container {
  width: 1180px;
}
@media only screen and (max-width: 767px) {
  /* line 21, ../sass/base/_global.scss */
  .dreamy_destinations .container {
    width: 100%;
  }
}

/* line 1, ../sass/layout/_header.scss */
.org_dd-main--header {
  float: left;
  width: 100%;
}
/* line 4, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-top-header {
  background: #24C4B7;
  width: 100%;
  padding: 10px 0;
  display: inline-block;
}
/* line 9, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-top-header .at_dd-top--left {
  float: left;
}
/* line 11, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-top-header .at_dd-top--left span {
  padding-left: 10px;
}
/* line 13, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-top-header .at_dd-top--left span:first-child {
  padding-left: 0;
}
/* line 16, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-top-header .at_dd-top--left span i {
  padding-right: 6px;
}
/* line 21, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-top-header .at_dd-top--right {
  float: right;
}
/* line 25, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header {
  position: relative;
  width: 100%;
  clear: both;
  padding: 15px 0;
  float: left;
}
/* line 31, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header .logo {
  position: relative;
  float: left;
  width: 20%;
}
@media only screen and (max-width: 767px) {
  /* line 31, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    text-align: center;
    padding: 10px 0 0 0;
    float: none;
  }
}
/* line 45, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header .logo h1 {
  margin: 0;
  font-size: 0;
}
@media only screen and (max-width: 767px) {
  /* line 45, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header .logo h1 {
    text-align: left;
  }
}
/* line 51, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header .logo h1 a {
  font-size: 22px;
  color: #000;
}
@media only screen and (max-width: 767px) {
  /* line 51, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header .logo h1 a {
    text-align: left;
  }
}
/* line 60, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 69, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 78, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 87, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li a {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 99, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul {
  width: 70%;
  text-align: right;
  padding: 0;
  margin: 0 0 0 0;
  float: left;
}
@media only screen and (max-width: 767px) {
  /* line 99, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul {
    text-align: left;
    width: 100%;
    display: none;
  }
}
/* line 110, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li {
  display: inline-block;
  padding: 12px;
}
@media only screen and (max-width: 767px) {
  /* line 110, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul li {
    width: 100%;
    float: none;
    border-top: 1px solid #000;
  }
}
/* line 118, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li a {
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
}
/* line 122, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li a:last-child {
  padding-right: 0;
}
/* line 125, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li a:hover {
  color: #C42431;
}
/* line 129, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul {
  position: absolute;
  left: -9999px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px;
  top: 35px;
}
@media only screen and (max-width: 767px) {
  /* line 129, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul {
    box-shadow: none;
    position: relative;
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
}
/* line 144, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  border-bottom: 1px solid #333;
}
@media only screen and (max-width: 767px) {
  /* line 144, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul li {
    border-bottom: none;
    border-top: 1px solid #333;
    height: auto;
  }
}
/* line 155, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul li:last-child {
  border: none;
}
@media only screen and (max-width: 767px) {
  /* line 155, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul li:last-child {
    border-top: 1px solid #333;
  }
}
/* line 161, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul li a {
  padding: 0 0 11px 0;
  width: 126px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  /* line 161, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul li a {
    font-size: 14px;
    width: 100%;
    padding: 10px 0px;
  }
}
/* line 175, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul li ul {
  margin-left: 92%;
  top: 0;
}
@media only screen and (max-width: 767px) {
  /* line 175, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul li ul {
    margin-left: 0;
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
}
/* line 190, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul .has-sub > a:after {
  position: absolute;
  top: 7px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #000;
  content: '';
}
@media only screen and (max-width: 767px) {
  /* line 190, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul .has-sub > a:after {
    display: none;
  }
}
/* line 203, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul .has-sub > a:before {
  position: absolute;
  top: 4px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #000;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}
@media only screen and (max-width: 767px) {
  /* line 203, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul li ul .has-sub > a:before {
    display: none;
  }
}
/* line 224, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li.has-sub > a {
  padding-right: 30px;
}
/* line 226, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li.has-sub > a:after {
  position: absolute;
  top: 7px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #000;
  content: '';
}
@media only screen and (max-width: 767px) {
  /* line 226, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul li.has-sub > a:after {
    display: none;
  }
}
/* line 239, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li.has-sub > a:before {
  position: absolute;
  top: 4px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #000;
  content: '';
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}
@media only screen and (max-width: 767px) {
  /* line 239, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul li.has-sub > a:before {
    display: none;
  }
}
/* line 256, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
/* line 262, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu li:hover > ul {
  left: auto;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 262, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu li:hover > ul {
    top: 12px;
  }
}
/* line 268, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu li:hover > ul > li {
  padding-top: 15px;
  padding-bottom: 24px;
}
@media only screen and (max-width: 767px) {
  /* line 268, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu li:hover > ul > li {
    padding: 0 0 0 15px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 274, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu li:hover > ul > li ul {
    top: 0;
  }
}
/* line 286, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
/* line 291, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu ul ul ul li.active a {
  border-left: 1px solid #333;
}
/* line 296, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #cssmenu > ul > li.has-sub > ul > li.active > a, .org_dd-main--header .mo_dd-bottom-header #cssmenu > ul ul > li.has-sub > ul > li.active > a {
  border-top: 1px solid #333;
}
/* line 301, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 310, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #head-mobile:after, .org_dd-main--header .mo_dd-bottom-header #head-mobile ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 319, ../sass/layout/_header.scss */
.org_dd-main--header .mo_dd-bottom-header #head-mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  /* line 319, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700;
  }
}
@media screen and (max-width: 991px) {
  /* line 332, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994;
  }
  /* line 340, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header .button:after {
    content: '';
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  /* line 351, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header .button:before {
    transition: all 0.3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #000;
    content: "";
  }
  /* line 363, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header .button.menu-opened:after {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* line 378, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header .button.menu-opened:before {
    top: 23px;
    background: #000;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* line 391, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    height: 38px;
    width: 46px;
    cursor: pointer;
  }
  /* line 401, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  /* line 405, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu .submenu-button:after {
    position: absolute;
    top: 18px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #000;
    content: '';
  }
  /* line 415, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  /* line 420, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu .submenu-button.submenu-opened:after {
    background: #000;
  }
  /* line 423, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu .submenu-button:before {
    position: absolute;
    top: 15px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #000;
    content: '';
  }
  /* line 434, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  /* line 438, ../sass/layout/_header.scss */
  .org_dd-main--header .mo_dd-bottom-header #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}
