.mo_button {
  a {
    text-decoration: none;
    .button {
      position: relative;
      vertical-align: middle;
      color: #000;
      display: inline-block;
      text-align: center;
      transition: 0.5s;
      padding: 10px 20px;
      cursor: pointer;
      border: 1px solid #000;
      background: transparent;
      -webkit-transition: 0.5s;
      &:hover {
        border: 1px solid rgba(0, 160, 80, 0);
        color: #000;
        &::after, &::before {
          -webkit-transform: scale(1);
        }
      }
      &::before, &::after {
        width: 100%;
        height: 100%;
        z-index: 3;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        -webkit-transform: scale(0);
        transition: 0.5s;
      }
    }
    .bar {
      &::before {
        border-bottom: 1px solid #f39c12;
        border-left: 1px solid #f39c12;
        -webkit-transform-origin: 100% 0%;
      }
      &::after {
        border-top: 1px solid #f39c12;
        border-right: 1px solid #f39c12;
        -webkit-transform-origin: 0% 100%;
      }
    }
  }
}

.mo_button-two {
  a {
    text-decoration: none;
    .button {
      position: relative;
      vertical-align: middle;
      color: #fff;
      display: inline-block;
      text-align: center;
      transition: 0.5s;
      padding: 10px 20px;
      cursor: pointer;
      border: 1px solid #fff;
      background: transparent;
      -webkit-transition: 0.5s;
      &:hover {
        border: 1px solid rgba(0, 160, 80, 0);
        color: #fff;
        &::after, &::before {
          -webkit-transform: scale(1);
        }
      }
      &::before, &::after {
        width: 100%;
        height: 100%;
        z-index: 3;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        -webkit-transform: scale(0);
        transition: 0.5s;
      }
    }
    .bar {
      &::before {
        border-bottom: 1px solid #f39c12;
        border-left: 1px solid #f39c12;
        -webkit-transform-origin: 100% 0%;
      }
      &::after {
        border-top: 1px solid #f39c12;
        border-right: 1px solid #f39c12;
        -webkit-transform-origin: 0% 100%;
      }
    }
  }
}